<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kinect_v1" params="prefix">
    <link name="${prefix}kinect_v1_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kinect_v1_description/meshes/visual/kinect.dae"/>
        </geometry>
        <material name="dark grey">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kinect_v1_description/meshes/collision/kinect.stl"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
