<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="grinding_eef" params="prefix">
    <link name="${prefix}grinding_eef_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_eef_description/meshes/visual/grinding_eef.dae"/>
        </geometry>
        <material name="grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_eef_description/meshes/collision/grinding_eef.stl"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
