<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="sls_2_interface" params="prefix">
    <link name="${prefix}sls_2_interface_base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://fanuc_r1000ia_sls_2_grinding_support/meshes/visual/sls_2_interface.dae"/>
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://fanuc_r1000ia_sls_2_grinding_support/meshes/collision/sls_2_interface.stl"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
