<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="grinding_workcell" params="prefix">
    <link name="${prefix}grinding_workcell_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/visual/grinding_workcell.dae"/>
        </geometry>
        <material name="light-grey">
          <color rgba="0.4 0.4 0.4 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/collision/grinding_workcell.stl"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
