<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="grinding_workcell" params="prefix">
    <link name="${prefix}grinding_workcell_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/visual/grinding_old_workcell.dae"/>
        </geometry>
        <material name="light-grey">
          <color rgba="0.4 0.4 0.4 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/collision/grinding_old_workcell.stl"/>
        </geometry>
      </collision>
    </link>
    <link name="${prefix}grinding_chair_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/visual/chair.dae"/>
        </geometry>
        <material name="black">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/collision/chair.stl"/>
        </geometry>
      </collision>
    </link>
    <link name="${prefix}grinding_table_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/visual/table.dae"/>
        </geometry>
        <material name="white">
          <color rgba="0.6 0.6 0.6 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://grinding_workcell_description/meshes/collision/table.stl"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}workcell_to_chair" type="fixed">
      <parent link="${prefix}grinding_workcell_frame" />
      <child link="${prefix}grinding_chair_frame" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}workcell_to_table" type="fixed">
      <parent link="${prefix}grinding_workcell_frame" />
      <child link="${prefix}grinding_table_frame" />
      <origin xyz="1.5 0 -0.52" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
