<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- include macros for robot, end effector, workcell -->
  <xacro:include filename="$(find fanuc_r1000ia_support)/urdf/r1000ia80f_macro.xacro"/>
  <xacro:include filename="$(find grinding_eef_description)/urdf/grinding_eef_macro.xacro"/>
  <xacro:include filename="$(find fanuc_r1000ia_sls_2_grinding_support)/urdf/sls_2_interface_macro.xacro"/>
  <xacro:include filename="$(find sls_2_description)/urdf/sls_2_macro.xacro"/>
  <xacro:include filename="$(find grinding_workcell_description)/urdf/grinding_workcell_macro.xacro"/>
  <!-- create the robot and eef combo itself as a macro -->
  <xacro:macro name="fanuc_r1000ia_sls_2_grinding_support" params="prefix">
    <!-- instantiate everything -->
    <xacro:fanuc_r1000ia80f prefix="${prefix}"/>
    <xacro:grinding_eef prefix="${prefix}"/>
    <xacro:sls_2_interface prefix="${prefix}"/>
    <xacro:sls_2 prefix="${prefix}"/>
    <xacro:grinding_workcell prefix="${prefix}"/>
    <!-- attach workcell to robot model -->
    <joint name="${prefix}base_link-workcell_frame" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}grinding_workcell_frame"/>
    </joint>
    <!-- attach eef to robot model -->
    <joint name="${prefix}tool0-grinding_eef_frame" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}link_6"/>
      <child link="${prefix}grinding_eef_frame"/>
    </joint>
    <link name="${prefix}grinding_disk_tcp"/>
    <joint name="${prefix}tool0-grinding_disk_tcp_frame" type="fixed">
      <origin xyz="0 0 0.324" rpy="0 0 0"/>
      <parent link="${prefix}tool0"/>
      <child link="${prefix}grinding_disk_tcp"/>
    </joint>
    <!-- attach SLS-2 interface to eef -->
    <joint name="${prefix}tool0-sls_2_interface_base_link" type="fixed">
      <origin xyz="-0.267 -0.054 0.0828" rpy="0 0 0"/>
      <parent link="${prefix}tool0"/>
      <child link="${prefix}sls_2_interface_base_link"/>
    </joint>
    <!-- attach SLS-2 sensor to robot model (to eef) -->
    <joint name="${prefix}tool0-sls_2_frame" type="fixed">
      <origin xyz="-0.30 -0.043 0.085" rpy="0 -1.5707 1.5707"/>
      <parent link="${prefix}tool0"/>
      <child link="${prefix}sls_2_frame"/>
    </joint>
    <link name="${prefix}sls_2_tcp"/>
    <joint name="${prefix}tool0-sls_2_tcp_frame" type="fixed">
      <origin xyz="-0.3 -0.1 0.06" rpy="1.5707 0 0"/>
      <parent link="${prefix}tool0"/>
      <child link="${prefix}sls_2_tcp"/>
    </joint>
  </xacro:macro>
</robot>
